



/* white box at the top*/
.heading-box {
    position: relative;
    top: 0px;
    height: 75px;
    background: #ffffff;
    border: solid 1px #cccccc;
]}


/* turquose box at the top*/
.heading-box-1 {
    position: absolute;
    width: 350px;
    height: 55px;
    color: white;
    top: 0px;
    padding: 10px;
    text-align: center;
    background: #4aaaa5;
    left: 200px;
}

/* blue box at the top*/
.heading-box-2
{
    position: absolute;
    top: 0px;
    left: 560px;
    width: 100px;
    height: 55px;
    padding: 10px;
    background: white;
}

.heading-box-3
{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 55px;
    padding: 10px;
    background: white;
}

.heading-box-4
{
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100px;
    height: 55px;
    padding: 10px;
    background: white;
}

/* light grey box with the turquose line*/
.heading-box-5 {
    position: absolute;
    height: 500px;
    background: #dddddd;
    top: 75px;
    left: 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 6px solid #4aaaa5;
}

a {
    color: grey;
    font-family: Arial;
 }

.heading-box-6 {
    position: absolute;
    top: 50px;
    width: 960px;
    padding: 25px;
    height: 800px;
    left: 200px;
    background: white;
}

h2 {
    color: #4aaaa5;
    font-family: serif;
}


p {
    font-family: "Times New Roman";
}

.copyright {
    position: relative;
    width: 1000px;
    top: -50px;
    color: white;
    text-align: center;
    border:  none;
}



}

.box-footer {
    position: relative;
    background: #666666;
    height: 30px;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding-top: 30px;
}

/* light gray  box*/
.box-set {
    position: absolute;
    height: 900px;
    background: #cccccc;
}








