/* white box in the middle */

.content-box {
    position: relative;
    top: -850px;
    left: 200px;
    width: 960px;
    height: 600px;
    padding: 10px;
    veritcal-align: middle;
    background: white;
}
